---
import Base from '../../layouts/Base.astro';
import Main from '../../layouts/Main.astro';
import CompoundCard from '../../components/CompoundCard.astro';

interface IParams {
    psychonaut_name: string | null;
    tripsit_name: string | null;
	name: string;
    svg: string
}


export async function getStaticPaths({ paginate } : any) {
	const allNPS = await Astro.glob<IParams>('../../../data/json/*.json');
    return paginate(allNPS, { pageSize: 12 });
}

const { page } = Astro.props;
---

<Base title="Compounds">
	<Main active="home">
        <section class="main-width">
            <h1 class="
                font-bold text-4xl mb-20
                text-center lg:text-left
            ">
                New Psychoactive Substances
            </h1>

            <form action="/search" class="w-full flex flex-col items-center mb-16">
                <div class="w-full max-w-lg flex items-center gap-2">
                    <label for="search">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-neutral-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                          </svg>
                    </label>
                    <input
                        class="w-full text-xl outline-none bg-transparent border-b border-neutral-300 focus:border-indigo-400"
                        type="text"
                        name="q"
                        id="search"
                        placeholder="Search compounds"
                    />
                </div>
            </form>

            <!-- NPS grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:gap-16 gap-8">
                {
                    page.data.map((x: IParams) =>
                        <CompoundCard {...x}/>
                    )
                }
            </div>

            <!-- Page selection -->
            <div class="flex gap-4 justify-center w-full lg:mt-12 mt-10">
                {page.url.prev ? <a href={page.url.prev}>{page.currentPage - 1}</a> : null}
                <p class="font-bold px-2 text-white bg-indigo-400 rounded-full"> {page.currentPage} </p>
                {page.url.next ? <a href={page.url.next}>{page.currentPage + 1}</a> : null}

            </div>
        </section>
	</Main>
</Base>