---
import Base from '../layouts/Base.astro';
import Main from '../layouts/Main.astro';
import Card from '../components/Card.astro';
---

<Base title="Welcome to Astro.">
	<Main active="home">

	</Main>
</Base>