---
import Base from '../layouts/Base.astro';
import Main from '../layouts/Main.astro';

import screenshot from '../assets/img/website_screen.png'
---

<Base title="WhiteHatChemistry">
	<Main active="home">
		<main>
			<section class="
				flex flex-col items-center
				main-width text-center
				py-28 lg:py-40
			">
				<h1 class="text-5xl lg:text-6xl max-w-4xl font-bold tracking-tight">
					Keeping up with the <span class="text-indigo-400">ever-changing</span> world of NPS.
				</h1>
				<p class="text-normal lg:text-lg max-w-2xl text-neutral-600 mt-6">
					We provide Deep Learning solutions that can identify and analyse new psychoactive substances (NPS).
				</p>
				<div class="mt-10 flex items-center">
					<a
						href="/list/1"
						class="py-1 px-3 rounded-xl text-white bg-indigo-400 hover:bg-indigo-600 transition duration-150"
					>
						Latest Research
					</a>
					<a
						href="#mission"
						class="
							py-1 px-3 ml-2
							rounded-xl text-neutral-600 hover:text-neutral-800
							border border-2 border-neutral-200 hover:border-neutral-400
							transition duration-150
						"
					>
						Our Mission
					</a>
				</div>
			</section>

			<section
				id="mission"
				class="
					pt-28 lg:pt-32 overflow-hidden
					bg-gradient-to-b from-transparent via-fuchsia-100/30 to-indigo-100/50
					flex justify-center
					px-4
				"
			>
				<div class="grid lg:grid-cols-3 gap-y-8 lg:gap-x-16">
					<div class="flex flex-col gap-6 justify-center lg:w-96">
						<h1 class="text-xl lg:text-xl lg:max-w-4xl font-bold text-neutral-800 flex flex-col">
							<span>State-of-the-art analysis</span>
							<span>of latest discoveries</span>
						</h1>
						<p class="text-neutral-500 text-sm leading-snug">
							We develop Deep-Learning tools that can rapidly, accurately, and cost-effectively identify and analyse NPS, to reduce the public health burden of designer drugs abuse.
						</p>
						<a
							href="/list/1"
							class="text-neutral-800 hover:text-neutral-400 underline underline-offset-4"
						>
							Explore
						</a>
					</div>
					<div class="lg:col-span-2 relative max-w-[800px]">
						<img
							src={screenshot}
							class="rounded-t-xl shadow-lg border border-b-0"
							alt="WhiteHatChemistry screenshot"
						>
					</div>
				</div>
			</section>

			<section class="
				border-t border-b border-neutral-200
				py-28 lg:py-24
			">
				<div class="main-width text-justify flex flex-col gap-8">
					<h2 class="text-xl lg:text-xl font-bold text-neutral-800 font-bold">
						Why
					</h2>
					<p class="text-neutral-600 leading-snug">
						The illicit drug market has been reshaped by the proliferation of clandestinely produced designer drugs, which are designed to mimic the physiological actions of better-known drugs of abuse while skirting drug control laws. The public health burden of NPS abuse obliges toxicological, police, and customs laboratories to screen for them in law enforcement seizures and biological samples. However, the identification of emerging NPSs is challenging due to the chemical diversity of these substances and the fleeting nature of their appearance on the illicit market.
					</p>
					<h2 class="text-xl lg:text-xl font-bold text-neutral-800 font-bold mt-8">
						WhiteHatChemistry
					</h2>
					<p class="text-neutral-600 leading-snug">
						We provide a cutting-edge online platform and Deep Learning tools that helps identify and analyse new designer drug. Using a database of known molecules and state-of-the-art Deep Learning techniques, our algorithms can extrapolate to new substances to predict their properties. This is a valuable tool for law enforcement, public health officials, and laboratories who are working to keep up with the ever-changing landscape of the illicit drug market.
					</p>
				</div>
			</section>

			<section class="
				pt-28 lg:pt-32 overflow-hidden
				bg-gradient-to-t from-transparent via-fuchsia-100/30 to-indigo-100/50
				flex justify-center
			">

			</section>

		</main>
	</Main>
</Base>