---
import Base from '../layouts/Base.astro';
import Main from '../layouts/Main.astro';
---

<Base title="Welcome to Astro.">
	<Main active="home">
		<main>
			<section class="
				flex flex-col items-center
				main-width text-center
				md:py-40
			">
				<h1 class="md:text-6xl max-w-4xl font-bold">
					Lorem ipsum <span class="text-indigo-400">dolor sit amet</span>, consectetur adipiscing elit.
				</h1>
				<p class="md:text-lg max-w-2xl text-neutral-600 mt-6">
					Pellentesque accumsan risus tellus, vel consequat magna pharetra vitae. Nam in orci iaculis, consequat est nec, tristique nisi.
				</p>
				<div class="mt-10 flex items-center">
					<a
						href="/about"
						class="py-1 px-3 rounded-xl text-white bg-indigo-400 hover:bg-indigo-600 transition duration-150"
					>
						Our Mission
					</a>
					<a
						href="/compounds?order=latest"
						class="
							py-1 px-3 ml-2
							rounded-xl text-neutral-600 hover:text-neutral-800
							border border-2 border-neutral-200 hover:border-neutral-400
							transition duration-150
						"
					>
						Latest Research
					</a>
				</div>
			</section>

			<section class="
				md:pt-32 overflow-hidden
				bg-gradient-to-b from-transparent via-fuchsia-100/30 to-indigo-100/50
				flex justify-center
			">
				<div class="grid grid-cols-3 ">
					<div class="flex flex-col gap-6 justify-center lg:pr-12 w-96">
						<h1 class="md:text-xl max-w-4xl font-bold text-neutral-800 flex flex-col">
							<span>State-of-the-art analysis</span>
							<span>of latest discoveries</span>
						</h1>
						<p class="text-neutral-500 text-sm leading-snug">
							Deep-Learning tools blabla Cras sed pulvinar lectus. Mauris egestas fermentum pellentesque. Nullam sed varius urna. Morbi pulvinar pellentesque ultricies. Donec ac eros dui.
						</p>
						<a
							href="/compounds"
							class="text-neutral-800 hover:text-neutral-400 underline underline-offset-4"
						>
							Explore
						</a>
					</div>
					<div class="rounded-t-xl shadow-lg lg:col-span-2 relative bg-white w-[800px] h-[500px]">
						<div class="m-40 text-lg text-neutral-600">
							screenshot d'une page
						</div>
					</div>
				</div>
			</section>

			<section class="
				border-t border-b
				md:py-32
			">
				<div class="main-width text-center h-96">

				</div>
			</section>

			<section class="
				md:pt-32 overflow-hidden
				bg-gradient-to-t from-transparent via-fuchsia-100/30 to-indigo-100/50
				flex justify-center
			">

			</section>

		</main>
	</Main>
</Base>

<style>
	h1 {
		font-size: 3rem;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
