---
import Base from '../../layouts/Base.astro';
import Main from '../../layouts/Main.astro';
import CompoundCard from '../../components/CompoundCard.astro';

interface IParams {
    psychonaut_name: string | null;
    tripsit_name: string | null;
    synonyms: string[] | null;
	name: string;
    svg: string
}

const molecules = await Astro.glob<IParams>('../../../data/json/*.json');

const search = '';

const selected = molecules.filter(x => (
    x.psychonaut_name?.toLowerCase().includes(search.toLowerCase()) ||
    x.tripsit_name?.toLowerCase().includes(search.toLowerCase()) ||
    x.synonyms?.some(y => y.toLowerCase().includes(search.toLowerCase()))
));

---
<script>
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const searchBar = document.querySelector<HTMLInputElement>('#search')!;

    function setQuery(query: string) {
        searchBar.value = query;
        const elements = document.querySelectorAll<HTMLElement>('.searchable');
        elements.forEach(element => {
            const text = element.id;
            if (text.toLowerCase().includes(query.toLowerCase())) {
                element.style.display = 'block';
            } else {
                element.style.display = 'none';
            }
        });
    }

    searchBar.addEventListener('input', (e) => {
        const search = (e.target as HTMLInputElement).value;
        setQuery(search);
    });

    let query = params.q || '';

    setQuery(query);
</script>


<Base title="Compounds">
	<Main active="home">
        <section class="main-width">
            <h1 class="
                font-bold text-4xl mb-20
                text-center lg:text-left
            ">
                New Psychoactive Substances
            </h1>

            <form action="/search" class="w-full flex flex-col items-center mb-16">
                <div class="w-full max-w-lg flex items-center gap-2">
                    <label for="search">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-neutral-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                          </svg>
                    </label>
                    <input
                        class="w-full text-xl outline-none bg-transparent border-b border-neutral-300 focus:border-indigo-400"
                        type="text"
                        name="q"
                        id="search"
                        placeholder="Search compounds"
                    />
                </div>
            </form>

            <!-- NPS grid -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:gap-16 gap-8">
                {
                    selected.map((x: IParams) => {
                        const id = `${x.psychonaut_name?.toLowerCase()}_${x.tripsit_name?.toLowerCase()}_${x.synonyms?.join('_')}`;
                        return (
                            <span
                                id={id}
                                class="searchable"
                            >
                                <CompoundCard {...x}/>
                            </span>
                        )
                    })
                }
            </div>
        </section>
	</Main>
</Base>