---
import HeaderButton from '../components/HeaderButton.astro';
import HamburgerButton from '../components/HamburgerButton.astro';
import MainLogo from '../assets/icons/main.svg';
import Hamburger from '../assets/icons/Hamburger.astro';
import Bitcoin from '../assets/icons/Bitcoin.svg';


export interface Props {
	active: 'home' | 'blog'
}

const { active } = Astro.props;
---

<style>
	html:has(.mobile-menu-toggler:checked) {
		overflow: hidden;
	}

	.mobile-menu-toggler:checked ~ .mobile-menu {
		display: block;
	}
	.mobile-menu {
		z-index: 1;
		display: none;
	}
</style>

<header class="py-6 md:py-10">
	<nav class="flex justify-between items-center main-width">
		<div>
			<a
				href="/"
				class="flex flex-row items-center md:gap-4 gap-2"
			>
				<img
					src={MainLogo}
					class="w-14"
					alt="whitehatchemistry"
				/>
				<div
					class="flex flex-col items-center text-neutral-800 leading-tight font-bold text-lg"
				>
					<span>White<span class="text-indigo-600">Hat</span></span>
					<span class="">Chemistry</span>
				</div>
			</a>
		</div>
		<!-- desktop -->
		<div class="gap-2 items-center hidden md:flex">
			<a
				href="https://discord.gg/SKGhEsWT7R"
				class="hover:bg-indigo-100 active:bg-indigo-200 hover:text-neutral-800 py-1.5 px-3 rounded-xl text-neutral-600 transition duration-150"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 127.14 96.36"
					fill="currentColor"
					class="w-5 h-5"
				>
					<g id="图层_2" data-name="图层 2">
					<g id="Discord_Logos" data-name="Discord Logos">
						<g id="Discord_Logo_-_Large_-_White" data-name="Discord Logo - Large - White">
						<path class="cls-1" d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"/>
						</g>
					</g>
					</g>
				</svg>
			</a>
			<HeaderButton href="#support">Support us</HeaderButton>
			<a
				href="/list/1"
				class="py-1 px-3 rounded-xl text-white bg-indigo-400 hover:bg-indigo-600 transition duration-150"
			>
				Search NPS
			</a>
		</div>
		<!-- mobile -->
		<div class="flex md:hidden">
			<input class="mobile-menu-toggler hidden" type="checkbox" id="side-menu"/>
			<label class="hamburger p-2" for="side-menu"><Hamburger style="cursor-pointer w-6 h-6"/></label>

			<div class="mobile-menu" aria-modal="true" role="dialog">
				<!-- background blur -->
				<div class="fixed inset-0 flex content-start p-4">
					<label
						class="absolute inset-0 cursor-pointer backdrop-blur bg-neutral-900/10 z-10"
						for="side-menu"
						aria-hidden="true"
					/>
					<div class="
						absolute inset-x-0 mx-4 mt-16 
						flex flex-col p-4 
						rounded-2xl bg-white
						tracking-tight text-neutral-800 shadow-xl text-lg
						ring-1 ring-slate-900/5
						z-20
					">
					
						<a
							href="https://discord.gg/SKGhEsWT7R"
							class="flex items-center p-2 w-full"
						>
							Join our Discord
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 127.14 96.36"
								fill="currentColor"
								class="w-5 h-5 ml-2"
							>
								<g id="图层_2" data-name="图层 2">
								<g id="Discord_Logos" data-name="Discord Logos">
									<g id="Discord_Logo_-_Large_-_White" data-name="Discord Logo - Large - White">
									<path class="cls-1" d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z"/>
									</g>
								</g>
								</g>
							</svg>
						</a>
						<HamburgerButton href="/blog">Blog</HamburgerButton>
						<HamburgerButton href="/compounds">Compounds</HamburgerButton>
						<hr class="m-2 border-neutral-400/20">
						<HamburgerButton href="/about">About</HamburgerButton>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>

<slot />

<footer class="main-width mt-10">
	<div id="support" class="">
		<h1 class="text-xl mb-4">Support us</h1>
		<p class="text-neutral-600 text-sm mb-4">If you like what we do, you can support us by donating here:</p>
		<span class="w-full flex flex-col items-center">
			<span class="flex items-center gap-2">
				<img src={Bitcoin} alt="btc" class="w-4 h-4"/>
				BTC: 
				<span class="text-neutral-600">bc1qcumaaw58tpknthrmn5hwukf4x64qv0fdxc3l5h9ppwler66gy52q74g3yc</span>
			</span>
		</span>
		
	</div>
	<div class="flex flex-row py-10 border-t border-neutral-400/20 mt-10">
		<span class="text-sm text-neutral-600">
			Copyright © 2022 WhiteHatChemistry. All rights reserved.
		</span>
	</div>
</footer>